// For plot wrapper observable graphs

.plotWrapper{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Lexend', sans-serif;
}

@media (max-width: 1023px) {
    .plotWrapper {
        width: 100%;
        max-width: 90%;
        margin: 0 auto 1rem auto;
        font-family: 'Lexend', sans-serif;
    }
}

.plotWrapperFacet {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Lexend', sans-serif;
}

.plotPageWrapper {
    max-width: 90% !important;
    margin: 0 auto;
    padding: 0 1rem;
}

.sectionHeaderGraph {
    margin-top: 20px;
    margin-bottom: 20px;
}

.greenContainer {
    max-width: 90%;
    margin: 1rem auto 1rem auto;
    padding: 0 1rem;
}

.graphTitle {
    margin-bottom: 0.8rem;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
}

@media (max-width: 850px){
    .gridMarginSmall {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

