@use '../../styles/design-system.scss' as *;

.columnSidebar {
    padding: 1rem;
    background: #f7f7f7;
    border-left: 2px solid #eee;
    height: 100%;
    max-height: 525px;
    max-width: 275px;
    // minWidth: 300px;
    box-sizing: border-box;
    z-index: 2;
}

// .rowSidebar {

// }